.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.menu-btn__burger {
  position: relative;
  width: 20px;
  height: 3px;
  transition: all .5s ease-in-out;
  background-color: #FFFFFF;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 3px;
  background-color: #FFFFFF;
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  width: 26px;
  transform: translate(0, -8px);
}
.menu-btn__burger::after {
  width: 13px;
  transform: translate(0, 8px);
}
.menu-btn._open .menu-btn__burger {
  transform: translate(-50px, 0);
  background-color: transparent;
}
.menu-btn._open .menu-btn__burger::before {
  width: 21px;
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn._open .menu-btn__burger::after {
  width: 21px;
  transform: rotate(-45deg) translate(35px, 35px);
}